<!DOCTYPE html>
<html>
<head>
  <title>Movies Database</title>
</head>
<body>
  <h1>Movies Database</h1>
  <ul>
    <li><a href="/actors">Actors</a></li>
    <li><a href="/movies">Movies</a></li>
  </ul>
</body>
</html>
