<!DOCTYPE html>
<html>
<head>
  <title>Movies Database</title>
</head>
<body>
  <h1>Movies Database</h1>
  <ul>
    <% @movies.each do |movie| %>
      <li><a href="<%= "/movies/#{movie["id"]} "%>"><%= "#{movie["title"]}" %></a></li>
    <% end %>
  </ul>
  <button><a href="/">Home</a></button>
</body>
</html>
